# Node.js specific ignores
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
/dist/
/build/
/coverage/

# Logs
*.log

# Editor/OS Specific
.vscode/
.idea/
.project
.settings/

# Misc
*.tgz